<h2 id="scenario"> Scenario: </h2>

  {{scenario.1.child_event}}

<h2> Parental response: </h2>
  <form id="p_choices" method="POST">
    <input name="p_answer" type="radio" /> {{scenario.1.choiceA}} <br>
    <input name="p_answer" type="radio" /> {{scenario.1.choiceB}} <br>
    <input name="p_answer" type="radio" /> {{scenario.1.choiceC}} <br>
    <input name="p_answer" type="radio" /> {{scenario.1.choiceD}} <br>
    <input type = "submit" value="Submit">
  </form>

<div id="all_scores"> <h2> Scores:  </h2>
  <div id="p_scores"> <h3>Parental scores:</h3>
    <p>Control: </p>
    <p>Support: </p>
  </div>

  <div id="c_scores"> <h3>Child's outcome scores:</h3>
    <p>Social skills:</p>
    <p>Academic achievement:</p>
    <p>Self-esteem:</p>
    <p>Self-regulation:</p>
  </div>
</div>
